{% extends "parent.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <style>
        table, th, tr, td {border: 1px solid orange; padding: 7px;}
    </style>
</head>

<h2>Moje książki</h2>

<table>
    <thead>
    <th>ID</th>
    <th>Tytuł</th>
    <th>Autor</th>
    <th>Rok</th>
    </thead>
{% for book in books %}
    <tr>
        <td><a href="/book/{{ book.id }}">{{ book.id }}</a></td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
    </tr>
{% endfor %}
</table>

<div>
    <h2> Dodaj nową książkę </h2>
    <form method="POST" action="/books/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Go">
    </form>
</div>

</body>
</html>
{% endblock %} 