<!DOCTYPE html>
<html lang="pl">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>Biblioteka książek</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
    </head>
    <body style="background-color: darkorange;" link="yellow" vlink="yellow" alink="green">
        
        <h1><img src="https://media.wired.com/photos/5be4cd03db23f3775e466767/master/pass/books-521812297.jpg" alt="logo" width="150"><strong> Biblioteka</strong></h1>
        <div class="glowna">
        <div id="content">{% block content %}{% endblock %}</div>
        </div>
        
    </body>
</html>